# Arquivos temporários/IDE  
.DS_Store  
.idea/  
*.log  
*.tmp  

.vscode*
rluf.github.io.code-workspace
*.sh

# Dados sensíveis  
.env  
config.json  
.rascunho*
# Builds/PDFs desnecessários  
/build/  
# /*.pdf   # (Comentado para permitir versionamento dos PDFs dos projetos)
.aider*
*id*
.vscode/
.refact/